{% extends "base.html" %}
{% block nav %}
<a href="/">Home Page</a>
{% endblock %}

  {% block content %}
  <h1>Welcome to the Store</h1>
  
  </header>
  <section id="middle">

  </section>
  <section id="bottom">
    <form id="addStore" action="/post" method="POST">
      <fieldset>
        <legend>Store Info</legend>
        <label>Store Name</label>
        <input name="name" type="text" required>
        <label>Minimum Customers</label>
        <input name="minimum" type="number" required>
        <label>Maximum Customers</label>
        <input name="maximum" type="number" required>
        <label>Average Cookie Sale</label>
        <input name="average" type="number" required>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </section>
  {% endblock %}

</body>
</html>